h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 60px;
    color: #fcfcfc;
    margin: 10px 0;
    text-align: center;
    text-shadow: 4px 4px rgb(151, 88, 37)
}

h4 {
  text-align: center;
  font-family: 'Great Vibes', cursive;
  font-size: 30px;
  position:relative; 
  top:20px;
  letter-spacing: 3px;
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(233, 154, 8, 0.5), 0 0 20px rgba(255, 255, 255, .2);
  outline-color: rgba(207, 164, 84, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388; 
  color:rgb(213, 225, 238)
}

.carousel {
  padding: top;
  position:relative;
  top:20px;
}


.side-nav{
    width: 20%;
    height:100%;
    background: rgba(240, 234, 234, .7);
    float: left;
    position:fixed;
    top: 0;
    z-index: 1;
    overflow: hidden;
    justify-content: center;
}

.mid-container{
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    top: 25%;
    left: 45%;
    margin-top: 40px;

}

#menu-list > li {
    cursor: pointer;
    margin-top: 40px;
    margin-left: 20px;
    list-style-type: none;
    font-family: 'Great Vibes', cursive;
    font-size: 26px;
    text-align: center;
    color: rgb(165, 117, 75);

}

#menu-list > li:hover {
    color: rgb(230, 237, 240);
    font-family:'Lucida Sans', cursive;
    text-shadow: 4px 4px rgb(5, 4, 0);
    /* text-transform: scale(2); */
    transition: width 350ms ease-in-out;
    letter-spacing: 3px;
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(233, 154, 8, 0.5), 0 0 20px rgba(255, 255, 255, .2);
    outline-color: rgba(207, 164, 84, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388; 

}

.tracks > li {
    margin-top: 15px;
    list-style-type: none;
    font-family: 'Lucida Handwriting', cursive;
    font-size: 20px;
    text-align: center;
    color: white;
}

#signup-form {
    margin-top: 50px;
    margin-left: 20px;
    list-style-type: none;
    font-family: 'Great Vibes', cursive;
    font-size: 20px;
    text-align: center;
    color: rgb(213, 225, 238);
    align-items: center;
    cursor: pointer;
}

.logo figure {
  width: 70%;
  margin: auto;
  display: block;
  /* position:relative; */
}

.logo figure::before {
	position: absolute;
	top: 0;
	left: -75%;
	z-index: 2;
	display: block;
	content: '';
	width: 50%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
}
.logo figure:hover::before {
	-webkit-animation: shine .75s;
	animation: shine .75s;
}
@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
}

#heart{
    border: none;
    background: none;
    color: red;
    cursor: pointer;
    font-size: 30px;
    margin: -50px;
}

.fav-heart{
    border: none;
    background: none;
    color: red;
    cursor: pointer;
    font-size: 40px;
    margin-left:-150px
}


.parent {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
  
  .div1{grid-area: 1 / 1 / 6 / 4;}

  .div2{ 
    grid-area: 3 / 4 / 6 / 8; 
    position: sticky;
    overflow: scroll;
    height: 20em;
    width: 40em;
}
  .div3{ grid-area: 1 / 4 / 3 / 10; 
    position: sticky;
    /* overflow: scroll; */
    height: 20em;
    width: 40em;}

.btn-primary{
    
    background-color: rgb(250, 247, 242);
    border: 2px solid (#d48f0d, 5%);
    padding: 3px 6px;
    border-radius: 4px;
    font-family: 'Great Vibes', cursive;
}

.btn-primary:hover {
        background-color: darken(#d48f0d, 2%);
        letter-spacing: 5px;
        color: #d48f0d;
        box-shadow: 0 12px 20px 0 rgba(129, 183, 214, 0.7), 0 17px 50px 0 rgba(215, 222, 231, 0.19);
        transition: 0.3s;
        font-family:'Lucida Sans',  sans-serif;
}

  /* TEST CODE BELOW */


 body { 
    margin: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
}

.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

  [data-am-gallery] {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    /* Navigation  */
     } 
   
    [data-am-gallery] input[type="radio"] {
     position: fixed;
     top: -9999px;
   }
   
   [data-am-gallery] input[type="radio"]:checked:nth-child(5) ~ .images .image:nth-child(5) { opacity: 1; }
   
   [data-am-gallery] input[type="radio"]:checked:nth-child(5) ~ .navigation .dot:nth-child(5) { background-color: #29acbb; }
   
   [data-am-gallery] input[type="radio"]:checked:nth-child(5) ~ .navigation .dot:nth-child(5):hover { opacity: 1; }
   
   [data-am-gallery] input[type="radio"]:checked:nth-child(4) ~ .images .image:nth-child(4) { opacity: 1; }
   
   [data-am-gallery] input[type="radio"]:checked:nth-child(4) ~ .navigation .dot:nth-child(4) { background-color: #29acbb; }
   
   [data-am-gallery] input[type="radio"]:checked:nth-child(4) ~ .navigation .dot:nth-child(4):hover { opacity: 1; }
   
   [data-am-gallery] input[type="radio"]:checked:nth-child(3) ~ .images .image:nth-child(3) { opacity: 1; }
   
   [data-am-gallery] input[type="radio"]:checked:nth-child(3) ~ .navigation .dot:nth-child(3) { background-color: #29acbb; }
   
   [data-am-gallery] input[type="radio"]:checked:nth-child(3) ~ .navigation .dot:nth-child(3):hover { opacity: 1; }
   
   [data-am-gallery] input[type="radio"]:checked:nth-child(2) ~ .images .image:nth-child(2) { opacity: 1; }
   
   [data-am-gallery] input[type="radio"]:checked:nth-child(2) ~ .navigation .dot:nth-child(2) { background-color: #29acbb; }
   
   [data-am-gallery] input[type="radio"]:checked:nth-child(2) ~ .navigation .dot:nth-child(2):hover { opacity: 1; }
   
   [data-am-gallery] input[type="radio"]:checked:nth-child(1) ~ .images .image:nth-child(1) { opacity: 1; }
   
   [data-am-gallery] input[type="radio"]:checked:nth-child(1) ~ .navigation .dot:nth-child(1) { background-color: #29acbb; }
   
   [data-am-gallery] input[type="radio"]:checked:nth-child(1) ~ .navigation .dot:nth-child(1):hover { opacity: 1; }
   
   [data-am-gallery] .image {
     position: absolute;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     opacity: 0;
     -webkit-transition: opacity 400ms ease;
     transition: opacity 400ms ease;
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
   }
   
   [data-am-gallery] .navigation {
     position: absolute;
     bottom: 15px;
     left: 50%;
     -webkit-transform: translateX(-50%);
     transform: translateX(-50%);
   }
   
   [data-am-gallery] .dot {
     display: inline-block;
     width: 15px;
     height: 15px;
     margin: 0 2px;
     border-radius: 50%;
     background-color: rgba(255, 255, 255, 0.8);
     cursor: pointer;
     -webkit-transition: opacity 200ms ease;
     transition: opacity 200ms ease;
   }
   
   [data-am-gallery] .dot:hover { opacity: 0.8; } 


audio {
  -webkit-transition:all 0.5s linear;
  -moz-transition:all 0.5s linear;
  -o-transition:all 0.5s linear;
  transition:all 0.5s linear;
  -moz-box-shadow: 2px 2px 4px 0px #006773;
  -webkit-box-shadow:  2px 2px 4px 0px #006773;
  box-shadow: 2px 2px 4px 0px #006773;
  -moz-border-radius:7px 7px 7px 7px ;
  -webkit-border-radius:7px 7px 7px 7px ;
  border-radius:7px 7px 7px 7px ;
  background: rgba(180, 170, 154, 0.3)
}